@mixin textboxContainer
  color                    : $almostWhite
  font-size                : 1.4em
  height                   : 3em
  margin                   : 0 0 0 0
  padding                  : .3em .3em .3em .3em
  width                    : 8em
  
@mixin textContainer
  color                    : $almostWhite
  margin                   : 0 0 0 0
    
@mixin contentSection($radius)
  background-color         : $greyThree
  border-color             : $greyThree
  border-radius            : $radius
  border-style             : solid
  border-width             : .1em
  padding                  : .3em .3em .3em .3em
  width                    : 50em
  
    
.workContentContainer
  float : left
  
  .gridBuilderRowContainer
    
    
    .gridBuilderRowClass
      

      .workContentRowHeader
        @include contentSection(.5em .5em 0 0)
        

        .chapterTitle
          float            : left
          width            : 20em
            
          .textContainer
            @include textContainer
            font-size      : 1.5em
  
              
          .textUpdateForm
            margin         : 0 0 0 0
            padding        : 0 0 0 0
    
            .editTextArea
              @include defaultBorder
              height       : 1.5em
              width        : 100%
    
        .pageNumberContainer
          @include textContainer
          float            : right
          margin           : 0 1em 0 0
            
      .workContentBody
        @include contentSection(0 0 .5em .5em)
        
        .workBodyTextContainer
          background-color : $greyTwo
          min-height       : 20em
          padding          : .3em .3em .3em .3em
    
          .textContainer
            @include textContainer
            font-size      : 1.2em
          
          .editTextArea
            min-height     : 20em
            width          : 52em
              
      .submitButton
        @include defaultButton
        width              : 2em
        
      .updateFormCancel
        @include defaultButton
        margin             : 0 0 0 .2em
        width              : 2em
          
  .gridBuilderButtonRowClass
    margin                 : .3em 0 0 0
    padding                : 0 0 .5em 0
  
    .pagerEnabledClass
      @include pagerButton
      
    
    .pagerDisabledClass
      @include pagerButton
      background-color     : $blueFive
      color                : $greyFive
      &:hover
        background-color   : $blueFive !important
