.clearBoth {
  clear: both; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader {
  background-color: #5d5d5d;
  padding: 0.3em 0.3em 0.3em 0.3em;
  width: 50em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle {
    float: left;
    width: 20em; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textContainer {
      color: #dfdfdf;
      font-size: 1.5em;
      margin: 0 0 0 0; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textUpdateForm {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
      .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textUpdateForm .editTextArea {
        border-color: #009ac4;
        border-radius: 5px;
        border-style: solid;
        border-width: 0.1em;
        height: 1.5em;
        width: 100%; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .pageNumberContainer {
    color: #dfdfdf;
    font-size: 1.5em;
    float: right;
    margin: 0 1em 0 0; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentBody {
  margin: 0.8em 0 0 0; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentBody .workBodyTextContainer .editTextArea {
    height: 20em;
    width: 22em; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .error {
  border-color: #009ac4;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #984545;
  color: white;
  font-size: large;
  padding: 0.4em 0.4em 0 0.4em;
  width: 100%; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .info {
  border-color: #009ac4;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #285f3a;
  color: white;
  font-size: large;
  padding: 0.4em 0.4em 0 0.4em; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .submitButton {
  border-color: #009ac4;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #414141;
  color: #dfdfdf;
  font-size: 1em;
  padding: 0 0.1em 0.1em 0.1em;
  width: 2em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .submitButton:hover {
    background-color: #dfdfdf !important;
    color: #414141; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel {
  border-color: #009ac4;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #414141;
  color: #dfdfdf;
  font-size: 1em;
  padding: 0 0.1em 0.1em 0.1em;
  margin: 0 0 0 0.2em;
  width: 2em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel:hover {
    background-color: #dfdfdf !important;
    color: #414141; }
