.clearBoth {
  clear: both; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader {
  width: 50em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle {
    float: left;
    margin: 0 1em 0 0;
    width: 15em; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textContainer {
      width: 100%; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textUpdateForm {
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
      .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .chapterTitle .textUpdateForm .editTextArea {
        height: 3em;
        width: 100%; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .workTitleContainer {
    float: left; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .workTitleContainer .textContainer {
      height: 3em;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 8em; }
    .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .workTitleContainer .textUpdateForm .editTextArea {
      height: 3em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentRowHeader .authorNameContainer {
    float: left; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .workContentBody .workBodyTextContainer .editTextArea {
  height: 20em;
  width: 22em; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .error {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #984545;
  color: white;
  font-size: large;
  padding: 0.4em 0.4em 0 0.4em;
  width: 100%; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .info {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #285f3a;
  color: white;
  font-size: large;
  padding: 0.4em 0.4em 0 0.4em; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .submitButton {
  background-color: #5d5d5d;
  border-color: #414141;
  border-style: solid;
  border-width: 0.2em;
  color: #dfdfdf;
  font-size: 1em;
  padding: 0 0.1em 0.1em 0.1em;
  width: 2em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .submitButton:hover {
    background-color: #dfdfdf !important;
    color: #414141; }
.workContainer .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel {
  background-color: #5d5d5d;
  border-color: #414141;
  border-style: solid;
  border-width: 0.2em;
  color: #dfdfdf;
  font-size: 1em;
  padding: 0 0.1em 0.1em 0.1em;
  margin: 0 0 0 0.2em;
  width: 2em; }
  .workContainer .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel:hover {
    background-color: #dfdfdf !important;
    color: #414141; }
